[submodule "External/ASSIMP"]
	path = External/ASSIMP
	url = https://github.com/assimp/assimp
[submodule "External/FX11"]
	path = External/FX11
	url = https://github.com/microsoft/FX11
[submodule "External/DirectXTK"]
	path = External/DirectXTK
	url = https://github.com/microsoft/DirectXTK
